@import "tailwindcss";

body {
  color: #222;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

/*header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
}

a {
  color: #00e;
  text-decoration: none;
}

p {
  text-align: center;
}*/

.siteTitle {
  text-align: center;
  color: #fff;
}

.button2 {
  text-align: center;
  position: fixed;
  top: 152px;
}

div.topSiteDiv {
  background-color: #333c5f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

div.footerDiv {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333c5f;
}

p.copyright {
  color: #fff;
}
