{{ define "main" }}
  <div class="main-text-card">
    <h1>Show yourself, yourself.</h1>
    <p class="main-text">We want <span class="individual-word">YOU</span> to succeed. We want to get rid of a world full of <span class="distraction-word">distractions</span>. Embrace your potential. Your focus. Help fund this project to motivate you daily. We want to spread globally and only <span class="individual-word">YOU</span> can make that happen. We are tired of those who are stopping our dreams. Those that put invisible weights on you and slow you down. Make that happen together. By this mission, we refused to implement any services from Google, Meta, and Microsoft: no trackers, no analytics, no ads. We want a world without distractions. Make that happen with us.</p>
  </div>
  <div class="donate-button">
    <a href="https://donate.stripe.com/eVa9DI5LZbMT0G4fYY" class="btn-link"><h1 class="btn-text">Support us</h1></a>
  </div> 
  {{ .Content }}
  {{ range site.RegularPages }}
    <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    {{ .Summary }}
  {{ end }}
{{ end }}
