<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta property="og:title" content="Spesflo" />
<meta property="og:description" content="Show yourself, yourself. Make world without distractions happen with us." />
<meta property="og:image" content="themes\spesflo\static\logo.png" />
<meta property="og:type" content="website" />
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | relURL }}">
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
